<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <header>
    <img class="animated flipInY"src="https://i.imgur.com/CERSYlK.jpg" alt="banner" height="300px" width="100%">
  </header>
  <body>
    <div class="btn btn-info">
      <%= button_to "Home", user_path(current_user), method: "get" %><br/>
    </div>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>


        <% @categories.each do |category| %>
        <div class="flex-container">
          <div>
        <h2><%= category.title %></h2>
        <br>
        <span class="button-wrap">
          <div class="button button-raised button-primary button-pill">
            <%= link_to "Delete",   admin_category_path(category), method: "delete" %>
          </div>
        </span>
        <span class="button-wrap">
          <div class="button button-raised button-primary button-pill">
             <%= link_to "Edit", edit_admin_category_path(category) %>
          </div>
        </span>
      </div>

    </div>
        <% end %>
    <div class="btn btn-info">
  </div>
</body>
</html>
